@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

header {
  background-color: white;
  color: black;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

header h1 {
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
}